.pagination {
  display: flex;
  justify-content: center;
  a {
    font-size: 20px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    &:hover:not(.active) {
      background-color: #ddd;
      border-radius: 5px;
    }
  }
  a.active {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
  }
}
.itemFront {
  width: 220px; 
  margin-bottom:20px;
  line-height: 1;
  div{
    height: 40px;
  }
  img{
    width: 220px; 
    height: 220px; 
    margin-bottom: 20px; 
  }
}

.allItem{
  display: flex;
  width: 850px; 
  justify-content: space-between;
  flex-wrap: wrap;
}
